<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>img/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>img/icons/site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>img/icons/safari-pinned-tab.svg" color="#f47200">
    <link rel="shortcut icon" href="<%= BASE_URL %>img/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Flix Loja">
    <meta name="application-name" content="Flix Loja">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="<%= BASE_URL %>img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image:height" content="254">
    <meta property="og:image:width" content="485">
    <meta property="og:description"
          content="Encontre um projeto pronto para tua loja de forma f&aacute;cil e r&aacute;pida!!">
    <meta property="og:title" content="Flix Loja">
    <meta property="og:url" content="http://flixloja.maxmix.net.br">
    <meta property="og:image" content="<%= BASE_URL %>img/covers/og-image.jpg">

    <!--<link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title>Flix Loja - Flix do Varejo</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-102039631-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-102039631-4');
    </script>

  </head>
  <body>
    <noscript>
      <strong>We're sorry but flixloja doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
