<template>
  <div class="home">

    <FlixTopBar></FlixTopBar>

    <section class="bg-gradient-primary">

      <HeaderPrimary></HeaderPrimary>

      <b-container>

        <b-row>
          <b-col md="6">

            <h2>Olá <b>{{user.user.name}}</b>! <br> Aqui você pode pesquisar uma planta de acordo com as características de sua loja e encontrar um projeto prontinho pra usar.</h2>

            <br>

            <b-row>
              <b-col sm="12" md="6">
                <router-link to="steps" class="btn btn-lg btn-block btn-warning mb-5"><b>PESQUISE AGORA</b></router-link>
              </b-col>
              <b-col sm="12" md="6">
                <router-link v-if="existResults()" to="results" class="btn btn-lg btn-block btn-warning btn-outline mb-5">ÚLTIMA PESQUISA</router-link>
              </b-col>
            </b-row>

          </b-col>
          <b-col md="6">
            <img src="@/assets/img/capa.jpg" class="rounded img-fluid shadow-primary" alt="Ilustração de projeto" />
          </b-col>
        </b-row>

      </b-container>

      <FooterPrimary></FooterPrimary>

    </section>

  </div>
</template>

<script>
// @ is an alias to /src
import FlixTopBar from '@/components/flixdovarejo/FlixTopBar'
import HeaderPrimary from "@/components/HeaderPrimary";
import FooterPrimary from "@/components/FooterPrimary";

export default {
  name: 'home',
  components: {
    FooterPrimary,
    HeaderPrimary,
    FlixTopBar
  },
  methods: {
    existResults: function(){
      return localStorage.getItem('results');
    }
  },
  computed: {
    user () {
      return this.$store.state.authentication.user;
    },
  },
  created () {
    this.$store.dispatch('authentication/me');
  }
}
</script>
