<template>
  <div class="results">

    <FlixTopBar></FlixTopBar>

    <section class="bg-gradient-primary">

      <HeaderPrimary></HeaderPrimary>

      <b-container>

        <h3 class="text-center mb-3">{{results.length}} projetos encontrados:</h3>

        <b-row>
          <b-col md="6" v-for="item in results" v-bind:key="item.id">
            <b-card class="mb-4">
              <b-row>
                <b-col>
                  <b-img-lazy v-bind:src="getThumbnail(item.file.path)" blank-color="#bbb" width="300" height="300" fluid rounded class="mb-3 shadow-primary" />
                  <b-row>
                    <b-col>
                      <b-button v-bind:href="item.file.path" target="_blank" size="sm" variant="dark" block>
                        <i class="fas fa-file-download"></i>
                        BAIXAR
                      </b-button>
                    </b-col>
                    <b-col class="text-right">
                      <b-button @click="previewPDF(item.file.path)" size="sm" variant="link" class="btn-outliner">
                        VISUALIZAR
                      </b-button>
                    </b-col>
                  </b-row>
                </b-col>
                <b-col>
                  <table class="table table-sm">
                    <tr>
                      <th>Segmento</th>
                      <td>{{item.segment.name}}</td>
                    </tr>
                    <tr>
                      <th>Tamanho</th>
                      <td>{{item.size}} m²</td>
                    </tr>
                    <tr>
                      <th>Formato</th>
                      <td>{{item.format.name}}</td>
                    </tr>
                    <tr>
                      <th>Qtd. Checkouts</th>
                      <td>{{item.checkout_count}}</td>
                    </tr>
                    <tr>
                      <th>Pos. Checkouts</th>
                      <td>{{item.checkout_position.name}}</td>
                    </tr>
                    <tr>
                      <th>Dependências</th>
                      <td>
                        <ul class="list-unstyled m-0" v-if="item.dependencies.length > 0">
                          <li v-for="dependency in item.dependencies" v-bind:key="dependency.id">
                            {{dependency.name}}
                          </li>
                        </ul>
                        <span v-if="item.dependencies.length == 0">Nenhuma</span>
                      </td>
                    </tr>
                  </table>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>

        <hr>

        <b-row>
          <b-col offset-md="2" md="8" class="text-center">
            <h2><b>{{user.user.name}}</b>, ainda não encontrou um projeto de acordo com sua loja?</h2>
            <br>

            <router-link to="steps" class="btn btn-lg btn-warning"><b>PESQUISE NOVAMENTE</b></router-link>
          </b-col>
        </b-row>

      </b-container>

      <FooterPrimary></FooterPrimary>

    </section>

  </div>
</template>

<style lang="scss">

  .card{
    color: black;
  }

</style>

<script>
// @ is an alias to /src
import FlixTopBar from '@/components/flixdovarejo/FlixTopBar'
import HeaderPrimary from "@/components/HeaderPrimary";
import FooterPrimary from "@/components/FooterPrimary";
import Swal from 'sweetalert2'
import config from '../config';

export default {
  name: 'results',
  components: {
    FooterPrimary,
    HeaderPrimary,
    FlixTopBar
  },
  methods: {
    getThumbnail: function(path){
      return `${config.url.api.projects.thumbnail}` + '?path=' + path
    },
    previewPDF: function(path) {

      Swal.fire({
        //html:'<iframe src="'+path+'" style="border: 0;" width="100%" height="500"></iframe>',
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        imageUrl: this.getThumbnail(path),
        imageWidth: 600,
        confirmButtonColor: '#000000',
        cancelButtonColor: '#3085d6',
        cancelButtonText: 'Ok',
        confirmButtonText: 'BAIXAR'
      }).then((result) => {
        if (result.value) {
          window.open(path, '_blank')
        }
      })

    }
  },
  computed: {
    user () {
      return this.$store.state.authentication.user;
    },
    results: function () {
      return JSON.parse(localStorage.getItem('results'));
    }
  },
  created () {
    this.$store.dispatch('authentication/me');
  }
}
</script>
