<template>
  <div class="steps">

    <FlixTopBar></FlixTopBar>

    <section class="bg-gradient-primary">

      <HeaderPrimary></HeaderPrimary>

      <b-container>
        <Wizard></Wizard>
      </b-container>

      <FooterPrimary></FooterPrimary>

    </section>

  </div>
</template>

<script>
// @ is an alias to /src
import FlixTopBar from '@/components/flixdovarejo/FlixTopBar'
import HeaderPrimary from "@/components/HeaderPrimary";
import Wizard from "@/components/Wizard";
import FooterPrimary from "@/components/FooterPrimary";

export default {
  name: 'steps',
  components: {
    FooterPrimary,
    Wizard,
    HeaderPrimary,
    FlixTopBar
  }
}
</script>
