<template>
    <div>
        <footer>
            <b-container>
                <b-row>
                    <b-col md="6">

                    </b-col>
                    <b-col md="6">
                        <div class="desenvolvido text-right">
                            <a href="http://www.wingmidia.com.br" target="_blank" class="developed" title="Conheça a Wing Mídia Integrada.">
                                <span>Desenvolvido por</span>
                                <img src="@/assets/img/logo_wingmidia.png" alt="Logo Wing Mídia Integrada" title="Wing Mídia Integrada" class="img-logo-wing">
                                <span class="wing">wingmidia</span>
                            </a>
                        </div>
                    </b-col>
                </b-row>
            </b-container>
        </footer>
    </div>
</template>

<script>
    export default {
        name: "FooterPrimary"
    }
</script>

<style scoped>
    footer {
        background: black;
        padding: 15px 0;
        margin-top: 50px;
    }

    footer a {
        color: #FFF;
        line-height: 12px
    }

    footer a:hover {
        color: #58A5DE
    }

    footer .desenvolvido .developed {
        color: #FFF;
        position: relative;
        text-decoration: none;
        font-size: 12px;
    }

    footer .desenvolvido .developed span {
        position: relative;
        line-height: 30px;
        top: 0;
        transition: all .3s ease
    }

    footer .desenvolvido .developed .img-logo-wing {
        padding-left: .5rem
    }

    footer .desenvolvido .developed .wing {
        opacity: 0;
        position: absolute;
        right: 50px;
        top: 20px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease
    }

    footer .desenvolvido .developed:focus span, footer .desenvolvido .developed:hover span {
        top: -7px;
        line-height: 30px
    }

    footer .desenvolvido .developed:focus .wing, footer .desenvolvido .developed:hover .wing {
        display: block;
        opacity: 1;
        position: absolute;
        right: 50px;
        top: 4px;
        transform: all 1s ease;
    }
</style>