<template>
    <div class="header-primary">

        <div class="logo">

            <router-link to="home">
                <img alt="Logo Flix Loja" src="@/assets/img/logo.svg" width="225">
            </router-link>

        </div>

    </div>
</template>

<script>
    export default {
        name: "HeaderPrimary"
    }
</script>

<style scoped>

    .header-primary{
        margin-top: 30px;
        padding: 30px 0;
    }

    .header-primary .logo{
        text-align: center;
        padding: 15px 0;
    }

    @media only screen and (max-width: 767px) {
        .header-primary {
            margin-top: 0;
            padding: 0;
        }
    }

</style>