<template>
    <div class="wizard">
        <form-wizard
                title=""
                subtitle=""
                nextButtonText="PRÓXIMO"
                backButtonText="VOLTAR"
                finishButtonText="FINALIZAR"
                color="#000000"
                errorColor="#f58229"
                @on-change="wizardOnChange"
                @on-complete="wizardOnComplete">

            <tab-content title="Segmento" :before-change="()=>wizardTabValidate('segment')">

                <fieldset>

                    <legend>Selecione o segmento da sua loja:</legend>

                    <b-row>
                        <b-col v-for="item in form.segments" v-bind:key="item.id" class="text-center switch">
                            <input type="radio"
                                   name="wizard_segment"
                                   v-bind:id="'wizard-segment-' + item.id"
                                   v-model="wizard.segment"
                                   v-bind:value="item.id" />
                            <label v-bind:for="'wizard-segment-' + item.id">
                                <img v-bind:src="item.icon" width="100" class="rounded" />
                                <p>{{item.name}}</p>
                            </label>
                        </b-col>
                    </b-row>

                </fieldset>

            </tab-content>

            <tab-content title="Tamanho" :before-change="()=>wizardTabValidate('size')">

                <b-row>
                    <b-col md="12">
                        <fieldset>

                            <legend>Escolha o tamanho aproximado da loja...</legend>

                            <b-row>
                                <b-col v-for="item in form.sizes" v-bind:key="item.id" v-if="item.segment_id === wizard.segment" class="text-center switch">
                                    <input type="radio"
                                           name="wizard_size"
                                           v-bind:id="'wizard-size-' + item.id"
                                           v-model="wizard.size"
                                           v-bind:value="item.id"
                                           v-on:change="changeSize(item)"/>
                                    <label v-bind:for="'wizard-size-' + item.id">
                                        <img v-bind:src="item.icon" width="100" class="rounded" />
                                        <p>{{item.name}}</p>
                                    </label>
                                </b-col>
                            </b-row>

                        </fieldset>
                        <hr>
                    </b-col>
                    <b-col md="12">
                        <fieldset>

                            <legend>...e o formato mais semelhante de sua planta:</legend>

                            <p class="text-center">Você pode selecionar mais de uma opção!</p>

                            <b-row>
                                <b-col v-for="item in form.formats" v-bind:key="item.id" class="text-center switch">
                                    <input type="checkbox"
                                           name="wizard_formats[]"
                                           v-bind:id="'wizard-formats-' + item.id"
                                           v-model="wizard.formats"
                                           v-bind:value="item.id" />
                                    <label v-bind:for="'wizard-formats-' + item.id">
                                        <img v-bind:src="item.icon" width="100" class="rounded" />
                                        <p>{{item.name}}</p>
                                    </label>
                                </b-col>
                            </b-row>

                        </fieldset>
                    </b-col>
                </b-row>

            </tab-content>

            <tab-content title="Checkouts">

                <fieldset>

                    <legend>
                        Quantos checkouts possui na loja...
                    </legend>

                    <p class="text-center">Aqui você pode excolher entre uma quantidade fixa ou uma faixa, para aumentar as chances de você encontrar uma planta!</p>

                    <b-row>
                        <b-col>
                            <div>
                                <vue-slider ref="checkout_count_slider"
                                            v-model="wizard.checkout_count_slider.value"
                                            v-bind="wizard.checkout_count_slider"
                                            v-on:change="changeCheckoutSize(wizard.checkout_count_slider)"></vue-slider>
                            </div>
                        </b-col>
                    </b-row>

                    <!--<b-row>
                        <b-col offset="4" md="4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button"
                                            class="btn btn-lg btn-dark"
                                            v-on:click="(wizard.checkoutcount > 1) ? wizard.checkoutcount&#45;&#45; : null"
                                            v-bind:disabled="(wizard.checkoutcount <= 1)">
                                        <i class="fas fa-minus-circle"></i>
                                    </button>
                                </div>
                                <input type="tel" v-model="wizard.checkoutcount" value="3" min="1" max="10" class="form-control form-control-lg text-center">
                                <div class="input-group-append">
                                    <button type="button"
                                            class="btn btn-lg btn-dark"
                                            v-on:click="(wizard.checkoutcount < 10) ? wizard.checkoutcount++ : null"
                                            v-bind:disabled="(wizard.checkoutcount >= 10)">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </b-col>
                    </b-row>-->

                </fieldset>

                <hr>

                <fieldset>

                    <legend>...e qual a posição dos checkouts na planta?</legend>

                    <b-row>
                        <b-col v-for="item in form.checkout_positions" v-bind:key="item.id" class="text-center switch">
                            <input type="checkbox"
                                   name="wizard_checkout_positions[]"
                                   v-bind:id="'wizard-checkout-positions-' + item.id"
                                   v-model="wizard.checkout_positions"
                                   v-bind:value="item.id" />
                            <label v-bind:for="'wizard-checkout-positions-' + item.id">
                                <img v-bind:src="item.icon" width="100" class="rounded" />
                                <p>{{item.name}}</p>
                            </label>
                        </b-col>
                    </b-row>

                </fieldset>

            </tab-content>

            <tab-content title="Dependências">

                <fieldset>

                    <legend>Pra finalizar, quais dependências sua loja possui?</legend>

                    <p class="text-center">Você pode selecionar mais de uma opção!</p>

                    <b-row>
                        <b-col v-for="item in form.dependencies" v-bind:key="item.id" class="text-center switch">
                            <input type="checkbox"
                                   name="wizard_dependencies[]"
                                   v-bind:id="'wizard-dependencies-' + item.id"
                                   v-model="wizard.dependencies"
                                   v-bind:value="item.id" />
                            <label v-bind:for="'wizard-dependencies-' + item.id">
                                <img v-bind:src="item.icon" width="100" class="rounded" />
                                <p>{{item.name}}</p>
                            </label>
                        </b-col>
                    </b-row>

                </fieldset>

            </tab-content>


        </form-wizard>
    </div>
</template>

<script>

    import { router } from '../helpers';
    import {FormWizard, TabContent} from 'vue-form-wizard'
    import vueSlider from 'vue-slider-component'
    import Swal from 'sweetalert2'
    import config from '../config';
    import axios from 'axios'

    import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import 'sweetalert2/src/sweetalert2.scss'

    export default {
        name: "Wizard",
        components: {
            FormWizard,
            TabContent,
            vueSlider,
        },
        data () {
            return {
                form: {
                    segments: [
                        {
                            'id': 1,
                            'name': 'Agropecuária',
                            'icon': '/icons/segmento_agropecuaria.svg'
                        },
                        {
                            'id': 2,
                            'name': 'Farmácia',
                            'icon': '/icons/segmento_farmacia.svg'
                        },
                        {
                            'id': 3,
                            'name': 'Material de construção',
                            'icon': '/icons/segmento_material_de_construcao.svg'
                        },
                        {
                            'id': 4,
                            'name': 'Supermercado',
                            'icon': '/icons/segmento_supermercado.svg'
                        }
                    ],
                    sizes:[
                        {
                            'id': 1,
                            'segment_id': 1,
                            'started_in': 0,
                            'finalized_in': 400,
                            'name': 'até 400m²',
                            'icon': '/icons/tamanho_pequena.svg'
                        },
                        {
                            'id': 2,
                            'segment_id': 1,
                            'started_in': 401,
                            'finalized_in': 800,
                            'name': 'de 401 a 800 m²',
                            'icon': '/icons/tamanho_media.svg'
                        },
                        {
                            'id': 3,
                            'segment_id': 1,
                            'started_in': 801,
                            'finalized_in': 0,
                            'name': 'acima de 800 m²',
                            'icon': '/icons/tamanho_grande.svg'
                        },
                        {
                            'id': 4,
                            'segment_id': 2,
                            'started_in': 0,
                            'finalized_in': 100,
                            'name': 'até 100m²',
                            'icon': '/icons/tamanho_pequena.svg'
                        },
                        {
                            'id': 5,
                            'segment_id': 2,
                            'started_in': 101,
                            'finalized_in': 200,
                            'name': 'de 101 a 200 m²',
                            'icon': '/icons/tamanho_media.svg'
                        },
                        {
                            'id': 6,
                            'segment_id': 2,
                            'started_in': 201,
                            'finalized_in': 0,
                            'name': 'acima de 200 m²',
                            'icon': '/icons/tamanho_grande.svg'
                        },
                        {
                            'id': 7,
                            'segment_id': 3,
                            'started_in': 0,
                            'finalized_in': 300,
                            'name': 'até 300m²',
                            'icon': '/icons/tamanho_pequena.svg'
                        },
                        {
                            'id': 8,
                            'segment_id': 3,
                            'started_in': 301,
                            'finalized_in': 500,
                            'name': 'de 301 a 500 m²',
                            'icon': '/icons/tamanho_media.svg'
                        },
                        {
                            'id': 9,
                            'segment_id': 3,
                            'started_in': 501,
                            'finalized_in': 0,
                            'name': 'acima de 500 m²',
                            'icon': '/icons/tamanho_grande.svg'
                        },
                        {
                            'id': 10,
                            'segment_id': 4,
                            'started_in': 0,
                            'finalized_in': 400,
                            'name': 'até 400m²',
                            'icon': '/icons/tamanho_pequena.svg'
                        },
                        {
                            'id': 11,
                            'segment_id': 4,
                            'started_in': 401,
                            'finalized_in': 800,
                            'name': 'de 401 a 800 m²',
                            'icon': '/icons/tamanho_media.svg'
                        },
                        {
                            'id': 12,
                            'segment_id': 4,
                            'started_in': 801,
                            'finalized_in': 0,
                            'name': 'acima de 800 m²',
                            'icon': '/icons/tamanho_grande.svg'
                        },
                    ],
                    formats: [
                        {
                            'id': 1,
                            'name': 'Retangular',
                            'icon': '/icons/formato_retangular.svg'
                        },
                        {
                            'id': 2,
                            'name': 'Quadrado',
                            'icon': '/icons/formato_quadrado.svg'
                        },
                        {
                            'id': 3,
                            'name': 'Irregular',
                            'icon': '/icons/formato_irregular.svg'
                        },
                    ],
                    checkoutcounts:[
                      1,2,3,4,5
                    ],
                    checkout_positions: [
                        {
                            'id': 1,
                            'name': 'Frente',
                            'icon': '/icons/checkout_frente.svg'
                        },
                        {
                            'id': 2,
                            'name': 'Lateral',
                            'icon': '/icons/checkout_lateral.svg'
                        },
                        {
                            'id': 3,
                            'name': 'Fundo',
                            'icon': '/icons/checkout_fundo.svg'
                        },
                    ],
                    dependencies: [
                        {
                            'id': 1,
                            'name': 'Hortifrúti',
                            'icon': '/icons/dependencia_hortifruti.svg'
                        },
                        {
                            'id': 2,
                            'name': 'Padaria',
                            'icon': '/icons/dependencia_padaria.svg'
                        },
                        {
                            'id': 3,
                            'name': 'Açougue',
                            'icon': '/icons/dependencia_acougue.svg'
                        },
                        {
                            'id': 4,
                            'name': 'Consultório',
                            'icon': '/icons/dependencia_consultorio.svg'
                        }
                    ]
                },
                wizard: {
                    segment: null,
                    size: null,
                    size_started_in: null,
                    size_finalized_in: null,
                    formats: [],
                    checkoutcount: 4,
                    checkout_count_started_in: 1,
                    checkout_count_finalized_in: 4,
                    checkout_positions: [],
                    dependencies: [],
                    checkout_count_slider: {
                        value: [
                            2,
                            6
                        ],
                        /*fixed: true,
                        interval: 2,*/
                        processDragable: true,
                        width: "90%",
                        height: 12,
                        dotSize: 40,
                        min: 1,
                        max: 12,
                        disabled: false,
                        piecewise: true,
                        piecewiseLabel: true,
                        show: true,
                        tooltip: "always",
                        tooltipDir: [
                            "bottom",
                            "top"
                        ],
                        data: [
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8,
                            9,
                            10,
                            11,
                            "12+",
                        ],
                        style: {
                            "marginBottom": "30px",
                            "marginLeft": "5%"
                        },
                        bgStyle: {
                            "backgroundColor": "#fff",
                            "boxShadow": "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)"
                        },
                        sliderStyle: [
                            {
                                "backgroundColor": "#343a40"
                            },
                            {
                                "backgroundColor": "#000000"
                            }
                        ],
                        tooltipStyle: [
                            {
                                "backgroundColor": "#343a40",
                                "borderColor": "#343a40"
                            },
                            {
                                "backgroundColor": "#000000",
                                "borderColor": "#000000"
                            }
                        ],
                        processStyle: {
                            "backgroundImage": "-webkit-linear-gradient(left, #343a40, #000000)"
                        }
                    },
                }
            }
        },
        methods: {
            changeSize: function(item){
                this.wizard.size_started_in = item.started_in;
                this.wizard.size_finalized_in = item.finalized_in;
            },
            changeCheckoutSize: function(item){
                this.wizard.checkout_count_started_in = item.value[0];
                this.wizard.checkout_count_finalized_in = item.value[1];
            },
            sliderRefresh: function(){
                this.$refs['checkout_count_slider'].refresh();
            },
            wizardOnChange: function(){
                let self = this;
                setTimeout(function(){
                    self.sliderRefresh()
                }, 0);
            },
            wizardTabValidate: function(option){

                switch (option) {
                    case 'segment' :
                        if(this.wizard.segment === null) {
                            Swal.fire({
                                title: 'Selecione um segmento!',
                                text: 'É preciso selecionar o segmento da sua loja para poder prosseguir!',
                                type: 'question',
                                confirmButtonText: 'Tentar novamente'
                            });
                            return false;
                        }
                        break;
                    case 'size' :
                        if(this.wizard.size === null) {
                            Swal.fire({
                                title: 'Escolha um tamanho!',
                                text: 'É preciso escolher um dos tamanhos que mais se aproxima da sua loja para poder prosseguir!',
                                type: 'question',
                                confirmButtonText: 'Tentar novamente'
                            });
                            return false;
                        }
                        /*if(this.wizard.formats.length === 0) {
                            Swal.fire({
                                title: 'Escolha um formato!',
                                text: 'É preciso escolher no mínimo um dos formatos que mais se parace com sua planta para poder prosseguir!',
                                type: 'question',
                                confirmButtonText: 'Tentar novamente'
                            });
                            return false;
                        }*/
                        break;
                    default:
                        return true;
                }

                return true;
            },
            wizardOnComplete: function(){

                if(this.wizard.dependencies.length === 0) {
                    Swal.fire({
                        title: 'Sem dependências?',
                        html: "Você não selecinou nenhuma dependência na sua loja. <br/> Deseja finalizar assim mesmo?",
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonColor: '#000000',
                        cancelButtonColor: '#3085d6',
                        cancelButtonText: 'Tentar novamente',
                        confirmButtonText: 'FINALIZAR E MOSTRAR RESULTADOS'
                    }).then((result) => {
                        if (result.value) {
                            this.wizardFinalize();
                        }
                    })
                } else {

                    this.wizardFinalize();

                }


            },
            wizardFinalize: function(){

                let loader = this.$loading.show();

                let filters = {
                    segment: this.wizard.segment,
                    size_started_in: this.wizard.size_started_in,
                    size_finalized_in: this.wizard.size_finalized_in,
                    formats: this.wizard.formats,
                    checkoutcount: this.wizard.checkoutcount,
                    checkout_count_started_in: this.wizard.checkout_count_started_in,
                    checkout_count_finalized_in: this.wizard.checkout_count_finalized_in,
                    checkout_positions: this.wizard.checkout_positions,
                    dependencies: this.wizard.dependencies
                };

                axios.get(`${config.url.api.projects.all}`, {
                    params: filters
                })
                .then(function (response) {

                    if(response.data.status === 1){

                        Swal.fire({
                            title: 'Encontramos '+response.data.data.length+' projetos!',
                            //html: JSON.stringify(filters),
                            //html: '<div class="fa-3x"><i class="fas fa-circle-notch fa-spin"></i></div>',
                            type: 'success',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        });

                        setTimeout(function(){

                            localStorage.setItem('results', JSON.stringify(response.data.data));

                            Swal.close();

                            router.push('results');

                        }, 1500);

                    } else {

                        Swal.fire(
                                'Nenhum projeto encontrado!',
                                response.data.mensagem,
                                'warning'
                        );

                    }

                })
                .catch(function (error) {
                    Swal.fire(
                            'Erro!',
                            error,
                            'error'
                    )
                })
                .then(function () {
                    loader.hide();
                });

                //console.log(JSON.stringify(this.wizard));

            }
        }
    }
</script>

<style lang="scss" scoped>

    .wizard{

        fieldset{
            legend {
                text-align: center;
                font-size: 2rem;
                margin-bottom: 15px;
            }
        }

        label {
            font-size: 1.2rem;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            color: #fff;
            border-color: #f5822a;
            background-color: #f5822a;
        }

        .btn-dark{
            background: black;
        }

        .switch{


            label {
                display: block;
                /*border: 4px solid #666;
                width: 60px;
                float: left;*/
            }

            input[type="radio"],
            input[type="checkbox"]{
                visibility: hidden;
            }

            input[type="radio"]+label,
            input[type="checkbox"]+label{
                opacity: 1;
                cursor: pointer;

                img {
                    box-shadow: 0 1px 1px rgba(0,0,0,.3);
                    background: white;
                }
            }

            input[type="radio"]:checked+label,
            input[type="checkbox"]:checked+label{
                /*border-color: #ccf;*/
                opacity: 0.8;

                img {
                    /*zoom: 98%;*/
                    /*box-shadow: unset 1px 1px 1px black;*/
                }

                ::after {
                    content: " ";
                    display: block;
                    width: 80px;
                    height: 80px;
                    border-radius: 100px;
                    background: url("../assets/img/check.svg");
                    position: absolute;
                    top: calc(50% - 50px);
                    left: calc(50% - 40px);
                    opacity: 0.8;
                }
            }

        }

    }

</style>