<template>
  <div id="app">
    <!--<div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>-->
    <router-view/>
  </div>
</template>

<script>

export default {
    name: 'App',
    /*computed: {
      alert () {
        return this.$store.state.alert
      }
    },
    watch:{
      $route (to, from){
        // clear alert on location change
        this.$store.dispatch('alert/clear');
      }
    }*/
  }
</script>

<style lang="scss">

  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

  html, body{
    background: black !important;
  }

  .btn{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) !important;
  }

  .btn-link{
    box-shadow: none !important;
  }

  .btn-warning {
    color: white !important;
    background: #F47200 !important;
    border-color: #F47200 !important;
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) !important;*/
  }

  .btn-primary{
    background: #3085d6;
  }

  .btn-dark{
    background: black !important;
  }

  .btn-outline{
    background: transparent !important;
  }

  .btn-outline.btn-primary,
  .btn-outline.btn-primary:hover{
    color: #3085d6;
  }

  #app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    color: white;
  }

  .bg-gradient-primary{
    background: linear-gradient(45deg, #753795 0%,#f5822a 90%);
  }

  .shadow-primary{
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  }

  .wizard {

    .vue-form-wizard .wizard-header{
      padding: 0 !important;
    }

    .vue-form-wizard .wizard-tab-content {
      /*min-height: 300px;
      padding: 50px 15px;*/
    }

    .vue-form-wizard .navbar .navbar-nav>li>a.wizard-btn, .vue-form-wizard .wizard-btn{
      padding: 10px;
      font-size: 16px;
    }

    .vue-form-wizard .wizard-card-footer {
      padding: 25px 0 10px;
      border-top: 1px solid black;
    }

  }

  /*#nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }*/
</style>
